/build/generated
/build/intermediates
/build/kotlin
/build/logs
/build/temp
/build/tmp
/build/outputs/logs
/build/release
/build/outputs
private_wallet.json
cert.final
google-services.json
green_wallet_firebase.json
